@charset "UTF-8";

/*
		Title: ProDucktive
		Author: Philip Ainsworth
		Class: Visual Frameworks
		Session: 1205
		Week: 2
*/

/* Colors:
		Yellow: F5C13A
		Pale: EFE4D8
		Light Beige: C7B299
		Dark Beige: 736357
		Dark Brown: 2D2624
*/

@font-face {
	font-family: "MiraraeBT";
	src: url(MIRARAEN.TTF);
}

body {
	background-color:#C7B299;
	margin: 0px;
	font-family: "MiraraeBT";
	text-align: center;
}

header {
	background-image: linear-gradient(top, #736357 0%, #C7B299 100%);
	background-image: -o-linear-gradient(top, #736357 0%, #C7B299 100%);
	background-image: -moz-linear-gradient(top, #736357 0%, #C7B299 100%);
	background-image: -webkit-linear-gradient(top, #736357 0%, #C7B299 100%);
	background-image: -ms-linear-gradient(top, #736357 0%, #C7B299 100%);
	text-align: center;
	border: none;
	margin: 0px;
	padding: 10px;
}

fieldset {
	text-align: left;
	background: fixed;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 10px;
	padding-top: 20px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	border: groove;
	color: #2D2624;
}

input {
	background-color: #EFE4D8;
}

textarea {
	background-color: #EFE4D8;
}

label {
	line-height: 24px;
}

legend {
	text-align: center;
	font-family: "MiraraeBT";
	font-size: 22px;
	font-style: bold;
}

.break {
	display: block;
}

h3 {
	text-align: justify;
	color: #2D2624;
}

#submit {
	background-color: transparent;
}

#clear:hover {
	color: #F5C13A;
	background-image: url(../img/button.png);
	background-size: 80px 18px;
}

#display:hover {
	color: #F5C13A;
	background-image: url(../img/button.png);
	background-size: 97px 18px;
}