@charset "UTF-8";

/*
		Title: ProDucktive
		Author: Philip Ainsworth
		Class: Visual Frameworks
		Session: 1205
		Week: 2
*/

@font-face {
	font-family: "MiraraeBT";
	src: url(MIRARAEN.TTF);
}

body {
	background-color:#C7B299;
	margin: 0px;
	font-family: "MiraraeBT";
	text-align: center;
}

header {
	background-image: linear-gradient(top, #736357 0%, #C7B299 100%);
	background-image: -o-linear-gradient(top, #736357 0%, #C7B299 100%);
	background-image: -moz-linear-gradient(top, #736357 0%, #C7B299 100%);
	background-image: -webkit-linear-gradient(top, #736357 0%, #C7B299 100%);
	background-image: -ms-linear-gradient(top, #736357 0%, #C7B299 100%);
	text-align: center;
	border: none;
	margin: 0px;
	padding: 10px;
}

fieldset {
	text-align: left;
	background: fixed;
	margin-left: 15px;
	margin-right: 15px;
	margin-bottom: 10px;
	padding-top: 20px;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-right: 10px;
	border: groove;
}

label {
	line-height: 24px;
}

legend {
	text-align: center;
	font-family: "MiraraeBT";
	font-size: 22px;
	font-style: bold;
}

.break {
	display: block;
}

h3 {
	text-align: justify;
	color: #2D2624;
}